source ~/base.vimrc
source ~/mapping.vimrc

set surround
set NERDTree
set easymotion
set commentary
set multiple-cursors
set exchange
set highlightedyank
set ReplaceWithRegister

" IdeaVim-Extension 切换输入法 "
let context_aware=0
set keep-english-in-normal-and-restore-in-insert


" ===== idea Action ===== "
" 重命名 "
nnoremap <leader><leader>re <esc>:action RenameElement<cr>
" 引入变量 "
nnoremap <leader><leader>va <esc>:action IntroduceVariable<cr>
" 新建 "
nnoremap <leader><leader>ne <esc>:action NewElement<cr>
nnoremap <leader><leader>nc <esc>:action NewClass<cr>
nnoremap <leader><leader>nd <esc>:action NewDir<cr>
" ===== idea Action ===== "


" ===== IdeaVim BUG ===== "
" :s匹配后清除模式寄存器无效, 改为先用/搜索一次 "
noremap <leader>/ /<cr>:let @/=""<cr>
" highlightedyank_highlight_duration "
" vim的类型是number ideavim的类型是string "
let g:highlightedyank_highlight_duration = g:highlightedyank_highlight_duration.""
" ===== IdeaVim BUG ===== "
